@model IEnumerable<web.Models.Cliente.cliente>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-12">

            @*@Html.Partial("Search")*@

            <hr />
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <label>Nome</label>
                        </th>
                        <th>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <label>Celular</label>
                        </th>
                        <th>
                            <i class="fa fa-at" aria-hidden="true"></i>
                            <label>E-mail</label>
                        </th>
                        <th>
                            <i class="fa fa-adjust" aria-hidden="true"></i>
                            <label>Status</label>
                        </th>
                        <th>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <label>Mais</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.numeroCelular)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @if (item.ativo)
                                {
                                    <span class="badge badge-success">Ativo</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning">Inativo</span>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Detalhes", "Details", new { id = item.clienteID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
